.header{
    display: flex;
    justify-content: center;
    height: 6vh;
    padding: 1vh;
    background-color:black;
    align-items: center;
    &__navigation {
        display: flex;
        justify-content: space-around;
        width: 20vw;
        height: 100%;
        align-items: center;
        &--logo {
            height: 40px;
        }
        &--link {
            color: white;
            font-weight: bold;
            text-decoration: none;
        }
        &--input {
            box-sizing: border-box;
            border-radius: 15px;
            padding: 3px;
            padding-left: 15px;
            height: 30px;
            width: 180px;
        }
        &--button {
            box-sizing: border-box;
            padding: 2px;
            height: 40px;
            width: 40px;
            margin-left: 2px;
            border-radius: 50%;
            margin-left: -33px;
            background: rgb(249,249,249);
            background: linear-gradient(177deg, rgba(249,249,249,1) 0%, rgba(114,133,135,1) 100%);
            img {
                width: 70%;
                height: 70%;
            }
        }
    }
}